<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title><%= mytitle %></title>
</head>

<body>
    <div class="container">
        <h1>My App Account</h1>

        <form action="" method="post">
            <input type="text" name="userName" placeholder="Saisir votre nom">
            <button type="submit">Envoyer</button>
        </form>
        <br>
        <p class="description" style="font-weight: bold;">Votre nom est : <%= arr.at(-1).userName %></p>
    </div>
</body>

</html>