<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>My App</title>
</head>

<body>
    <div class="container">
        <h1>My App Account</h1>

        <form action="" method="post">
            <input type="text" name="userName" placeholder="Saisir votre nom">
            <button type="submit">Envoyer</button>
        </form>
    </div>
</body>

</html>